<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>Vue.js</title>
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <h1>ToDoリスト</h1>
  <div id="ToDoApp">
    <form>
      <input type="text" v-model="textInput" required>
      <button v-if="this.formState == 'add'" @click="addTodo">追加</button>
      <button v-if="this.formState == 'edit'" @click="editTodo">編集</button>
    </form>
    <ul v-if="todos.length > 0">
      <li v-for="(todo, index) in todos">
        {{ todo.text }}
        <div class="todo_li_button">
          <button @click="changeToEditForm(index)">編集</button>
          <button @click="deleteTodo(index)">削除</button>
        </div>
      </li>
    </ul>
    <p v-else>ToDoはありません</p>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
</body>

</html>
